// Files in this folder must follow the format of backgrounds at https://github.com/Discord-Custom-Covers/usrbg
@import './0J3.scss';
@import './Normalcat.scss';
@import './Arkane.scss';
@import './Jay.scss';
