/*Half Arkane#2895*/
[user_by_bdfdb='596425713347723269'],
[data-user-id='596425713347723269'] {
	--user-background: url('https://cdn.discordapp.com/attachments/828735895271112795/828735958320545842/csfawetersgtertasdfg.gif');
}
