/*Jay Rizuri*/
// $url: url(https://cdn.discordapp.com/attachments/633069781070643245/834056277940371456/image0.jpg);
// [user_by_bdfdb='290610400763052035'],
// [data-user-id='290610400763052035'] {
// 	--user-background: $url;
// }
@use './mixin';
@include mixin.UserTheme("290610400763052035",url(https://cdn.discordapp.com/attachments/633069781070643245/834056277940371456/image0.jpg));
