// snowhundred%normalcat#7681
[user_by_bdfdb='799126689442955265'],
[data-user-id='799126689442955265'] {
	--user-background: url('https://cdn.discordapp.com/attachments/799382446512275476/828866655760678932/unknown.png');
}
