/* This file is the publicly available file for other themes to load aurora's userbgs */

@use './index';

@import url('https://raw.githubusercontent.com/Discord-Custom-Covers/usrbg/master/USRBG.theme.css');
