/* Error: Undefined variable.
 *      ,
 * 2478 |     content: $changelog;
 *      |              ^^^^^^^^^^
 *      '
 *   scss\base.scss 2478:11       @import
 *   scss\Aurora.theme.scss 42:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a      \2577 \a 2478 \2502      content: $changelog;\d\a      \2502               ^^^^^^^^^^\a      \2575 \a   scss\\base.scss 2478:11       @import\a   scss\\Aurora.theme.scss 42:9  root stylesheet";
}
