/**
 * @name Aurora
 * @description A cozy dark theme with blurred elements and gradients. Requires BetterDiscord's Normalized classes function to be enabled.
 * @author Tropical (Maintained by 0J3#0001)
 * @version 2.8.0 (Manual Upgrades version)
 * @website https://www.guilded.gg/i/LEx06WOE
 * @source https://github.com/0J3-2/Aurora/tree/master
 * @updateUrl https://0J3-2.github.io/Aurora/css/Aurora.theme.css
 */

/*	
  /$$$$$$	
 /$$__  $$	
| $$  \ $$ /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$	
| $$$$$$$$| $$  | $$ /$$__  $$ /$$__  $$ /$$__  $$|____  $$	
| $$__  $$| $$  | $$| $$  \__/| $$  \ $$| $$  \__/ /$$$$$$$	
| $$  | $$| $$  | $$| $$      | $$  | $$| $$      /$$__  $$	
| $$  | $$|  $$$$$$/| $$      |  $$$$$$/| $$     |  $$$$$$$	
|__/  |__/ \______/ |__/       \______/ |__/      \_______/	
*/

@import './DefaultVars.scss';
@import './base.scss';
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css'); // Import UserBG (see https://github.com/Discord-Custom-Covers/usrbg)
