/**
 * @name Aurora Alt Build
 * @description The alternative build to Aurora that contains most of the aurora files, instead of loading them on theme load - Useful for slow internet connections.
 * @author Tropical (Maintained by 0J3)
 * @version 2.4.2
 * @website https://www.guilded.gg/i/LEx06WOE
 * @source https://github.com/0J3-2/Aurora/tree/master
 * @updateUrl https://0J3-2.github.io/Aurora/css/Aurora.theme.css
 */
@import './base.scss';
