/* File to import if you want things like the user backgrounds/user tags from Aurora */

/**
  * @file Aurora/SCSS/UserTags.scss
  */
@import './UserTags.scss';
/**
  * @file Aurora/SCSS/UserBGs/_index.scss
  */
@import './UserBGs/index';
