@use "./Mixins/backgrounds";

.messages-3amgkR,
.scroller-2TZvBN,
.panels-j1Uci_,
.privateChannels-1nO12o,
.childWrapper-anI2G9,
.contentRegionScroller-26nc1e,
.scroller-1JbKMe,
.sidebarRegionScroller-3MXcoP,
.theme-dark .footer-3rDWdC,
.standardSidebarView-3F1I7i,
.theme-dark .messagesPopout-24nkyi,
.friendsTable-133bsv .friendsTableBody-1ZhKif,
.scroller-9moviB,
.app-2rEoOp {
	background: transparent !important;
}
.sidebar-2K8pFh {
	border-radius: 15px !important;
	// background: var(--backdropblurred) !important;
	@include backgrounds.blurred;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;
	margin-right: 20px;
	padding: 0px 0px 0px 10px;
	transition: width 0.5s;
}
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
	background: transparent;
}
[class*='avatar-'],
.image-33JSyf {
	border-radius: 50%;
}
.folder-21wGz3 {
	background-image: var(--main-color);
}
.modal-yWgWj-,
.expandedFolderBackground-2sPsd- {
	background-image: var(--main-color);
	box-shadow: inset 0 10000px rgba(0, 0, 0, 0.55) !important;
	left: 22px;
}
#pluginNotice,
.notice-2FJMB4 {
	width: auto;
	display: table;
	height: 25px;
	padding-right: 35px;
	margin-bottom: 5px;
	border-radius: 8px !important;

	/*
		background-image is strongly discouraged here - what if main-color is a colour value instead of an image/gradient? 
		- 0J3
	*/
	background: var(--main-color);

	box-shadow: inset 0 10000px rgba(0, 0, 0, 0.55);
}
.dismiss-SCAH9H {
	width: 25px;
	margin-right: 10px;
}
.wordmark-2iDDfm:after {
	left: 30px;
	top: 8px;
}

/* - - - - - - */
.scroller-305q3I {
	background-color: transparent;
}
.powercord-entities-manage-tabs {
	background-color: var(--main-color-faded);
}
.theme-dark .selectorSelected-1_M1WV {
	background-color: var(--main-color-faded);
}
.theme-dark .description-11DmNu,
.theme-dark .descriptionUsername-J_75O8 {
	color: white;
}
.colorStandard-2KCXvj {
	color: white;
}
.wrapper-2aW0bm {
	background: transparent;
	box-shadow: none;
}
.wrapper-2aW0bm:hover {
	box-shadow: none !important;
}
.button-1ZiXG9:hover {
	background-color: transparent;
}
.button-1ZiXG9 {
	color: white;
}
.icon-3Gkjwa {
	width: 16px;
	height: 16px;
}
.buttons-cl5qTG.container-3npvBV {
	margin-top: 22px;
}
.root-3R2ngo.enterDone-2zvtsK {
	border-radius: 10px;
}
.scroller-2FKFPG.perksModal-fSYqOq {
	background-image: var(--backdropblurred);
	background-repeat: no-repeat;
	background-size: cover;
}
.theme-dark .perksModal-fSYqOq {
	background: transparent;
}
.role-3UN8jj.role-1P70N6 {
	background: var(--main-color);
}
