@mixin blurred {
	background: var(--backdropeffectclr) !important;
	backdrop-filter: var(--backdropeffect) !important;
	border-radius: 15px;
}
@mixin coverBackground {
	background: var(--backdrop) !important;
	background-size: cover !important;
}
