.image-1GzsFd,
.emptyIconFriends-BrjhY9,
.emptyIconGuilds-3OViNh,
.emptyIconStreamerMode-3RfWOW,
.noResultsImage-JbSWtu,
.userSettingsSecurityImage-21pI_Q,
.emptyStateImage-2eMp68,
.image-1GzsFd {
	filter: brightness(1) saturate(2) !important;
}
.userSettingsSecurityImage-21pI_Q,
.image-1GzsFd {
	opacity: 1;
}
.empty-3sCt5f {
	background: none !important;
	margin-top: -120px;
}
.emptyStateImage-2eMp68,
.image-1GzsFd {
	opacity: 0.7;
}
.emptyIconFriends-BrjhY9,
.emptyIconGuilds-3OViNh,
.emptyIconStreamerMode-3RfWOW,
.noResultsImage-JbSWtu {
	opacity: 1;
}
