.bf-toolbar {
	&.bf-visible:before,
	&.bf-hover:hover:before {
		background: #0000 !important;
		backdrop-filter: var(--backdropeffect);
		background-size: cover !important;
		background-position: right center !important;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25) !important;
	}

	.format:hover {
		background: rgba(0, 0, 0, 0.5) !important;
		border-radius: 5px !important;
	}
}
.da-guildsError {
	border-color: var(--hover-color) !important;
	background: var(--main-color-faded) !important;
	color: var(--hover-color) !important;
}
