@use "../Mixins/backgrounds";

.channelTabs-tabContainer.channelTabs-tabContainer {
	// --background-secondary-alt: var(--backdropeffectclr) !important;
	// @include backgrounds.blurred;
	background: transparent !important;
	// background: var(--backdropeffectclr);
	// backdrop-filter: var(--backdropeffect);

	// background: linear-gradient(
	// 	var(--backdropeffectclr),
	// 	var(--backdropeffectclr),
	// 	var(--main-color)
	// );
}
.channelTabs-tab {
	@include backgrounds.blurred;
}
