@use "../Mixins/backgrounds";

.channelTabs-tabContainer.channelTabs-tabContainer {
	--background-secondary-alt: var(--backdropeffectclr) !important;
	@include backgrounds.blurred;
	// background: var(--backdropeffectclr);
	// backdrop-filter: var(--backdropeffect);

	// background: linear-gradient(
	// 	var(--backdropeffectclr),
	// 	var(--backdropeffectclr),
	// 	var(--main-color)
	// );
}
