.metalloriff-changelog-scroller::-webkit-scrollbar,
.dst-tooltip:after {
	display: none;
}
.tooltip-1OS-Ti.right-KM_vfY {
	animation: faderight 150ms !important;
}
.dst-tooltip {
	background-image: var(--main-color) !important;
}
.metalloriff-changelog-scroller {
	background: var(--backdropeffectclr) !important;
	backdrop-filter: var(--backdropeffect);
	background-size: cover !important;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5) !important;
}
