#permissions-modal-wrapper .modal-body {
	background: var(--backdrop) !important;
	background-size: cover !important;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
#permissions-modal-wrapper .header,
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side {
	background: transparent;
}
