@use "../Mixins/backgrounds";
.da-uploadArea + .da-wrapper,
.uploadArea-1qnBZm + .wrapper-2qzCYF,
.uploadArea-3QgLtW + .wrapper-2qzCYF,
.uploadArea-1qnBZm + .minimum-28Z35l,
.uploadArea-3QgLtW + .minimum-28Z35l,
.wrapper-2qzCYF {
	/*backdrop-filter: blur(3px);*/
	background: #0000;
}

.fullScreen-1tMzXY {
	// @include backgrounds.blurredImportant;
}

// .wrapper-2qzCYF.minimum-28Z35l {
// 	// background: var(--);
// }
