.da-guilds,
.wrapper-3NnKdC {
	background: transparent !important;
	// background: var(--backdropeffectclr) !important;
	// background-color: var(--backdropeffectclr) !important;
	// backdrop-filter: var(--backdropeffect) !important;
	// --background-tertiary: var(--backdropeffectclr) !important;
	// .tree-2wKJdG,
	// .scroller-1Bvpku {
	// 	// Ensure no inheritance
	// 	background: transparent !important;
	// }
}
.tree-2wKJdG {
	background: var(--backdropeffectclr) !important;
	background-color: var(--backdropeffectclr) !important;
	backdrop-filter: var(--backdropeffect) !important;
	--background-tertiary: var(--backdropeffectclr) !important;
	.scroller-1Bvpku {
		// Ensure no inheritance
		background: transparent !important;
	}
}
.circleIconButton-1QV--U {
	background: #0000 !important;
}
.sidebar-2K8pFh {
	padding-left: 10px;
}
