.da-guilds,
.scroller-1Bvpku,
.wrapper-3NnKdC {
	background: var(--backdropeffectclr) !important;
	background-color: var(--backdropeffectclr) !important;
	backdrop-filter: var(--backdropeffect) !important;
	--background-tertiary: var(--backdropeffectclr) !important;
}
.circleIconButton-1QV--U {
	background: #0000 !important;
}
