.da-guilds,
.scroller-1Bvpku,
.wrapper-3NnKdC {
	background: var(--backdropeffect-backgroundColor) !important;
	background-color: var(--backdropeffect-backgroundColor) !important;
	backdrop-filter: var(--backdropeffect) !important;
	--background-tertiary: transparent;
}
