.da-guilds,
.scroller-1Bvpku,
.wrapper-3NnKdC {
	background: #0000 !important;
	background-color: #0000 !important;
	backdrop-filter: var(--backdropeffect) !important;
	--background-tertiary: transparent;
}
