// This is likely not visible in-app but only in the Web version (https://0j3-2.github.io/AuroraWeb)
@use "../Mixins/backgrounds";
.authorize-3eAFPo {
	&,
	& > * {
		background: #0000;
	}
}
.oauth2Wrapper-mHbF5q {
	@include backgrounds.blurred;
	background: #0000;
}
.footer-3ZalXG {
	background: #0000;
}
