/*1.a. Main Background*/
@import './1.a. Main Background';

/*1.b. Spacing*/
@import './1.b. Spacing';

/*1.c. General Transparency*/
@import './1.c. General Transparency';

/*1.d. Light Mode Blocker (Based on MasicoreLord's Light Theme blocker, taken with permission). */
@import './1.d. Light Mode Blocker';

/*1.e. Voice Chat Background*/
@import './1.e. Voice Chat Background';

/*1.f. Modal Background*/
@import './1.f. Modal Background';

/*1.g. Server List Background*/
@import './1.g. Server List Background.scss';

/*1.h. Login*/
@import './1.h. Login.scss';

/*1.i. Stage*/
@import './1.i. Stage.scss';

/*1.j. Status*/
@import './1.j. Status.scss';

/*1.k. OAuth2*/
@import './1.k. OAuth2.scss';
