.container-16j22k {
	background: #0000 !important;
	backdrop-filter: var(--backdropeffect);
	background-size: cover !important;
	background-repeat: no-repeat !important;
	box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5) !important;
}
.content-1-zrf2 {
	background: rgba(0, 0, 0, 0.25) !important;
	transition: 150ms all linear;
	box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.75);
	border: 2px solid rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat !important;
	background-position: fixed !important;
	padding: 40px;
	border-radius: 10px;
	padding-top: 10px;
	// background: var(--backdropblurred) !important;
	background: #0000 !important;
	backdrop-filter: var(--backdropeffect);
	&:hover {
		transform: scale(1.04);
	}
}
