.buttons-cl5qTG.container-3npvBV {
	margin-top: 32px;
}
.buttons-cl5qTG.container-3npvBV {
	box-shadow: none;
}
.buttons-cl5qTG.container-3npvBV:hover {
	color: white;
	border-radius: 5px;
}
.separator-42rNt0 {
	display: none;
}
div#emoji-picker-tab-panel {
	background: rgba(0, 0, 0, 0.25) !important;
	border-radius: 5px;
}
.emojiButton-jE9tXC.button-1ZiXG9 {
	display: none;
}
.wrapper-2aW0bm:hover {
	box-shadow: none;
}
.message-2qnXI6.cozyMessage-3V1Y8y.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica {
	background: rgba(0, 0, 0, 0.25);
	margin: 3px 20px 0px 20px;
	border-radius: 8px;
}
.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica {
	margin: 10px 20px 0px 20px;
}
.da-containerCozy .inner-zqa7da {
	background: rgba(0, 0, 0, 0.25) !important;
}
.messageCozy-2JPAPA .image-33JSyf {
	border-radius: var(--chat-avatar-roundness) !important;
}
.operations-36ENbA > a {
	color: var(--hover-color) !important;
}
.containerCozy-jafyvG {
	background: rgba(0, 0, 0, 0.4);
	margin: 15px 15px 0 25px;
	border-radius: 5px;
}

.isLocalBot-38G0P0 {
	background: transparent !important;
	box-shadow: none !important;
}
.message-2qRu38 {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.markup-2BOw-j pre {
	background: transparent !important;
	border-radius: 5px !important;
}
.markup-2BOw-j code {
	background: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px !important;
}
.messageGroupBlocked-3wrQQX.revealed-1_RKsf {
	border: none !important;
}
.messageGroupBlocked-3wrQQX {
	background: rgba(0, 0, 0, 0.5) !important;
	border: none !important;
}
.messageGroupBlockedBtn-1PBBh- {
	background: transparent !important;
}
.option-1l2vXE .lookFilled-1Gx00P.colorGreen-29iAKY {
	background: var(--main-color) !important;
}
