@use "../Mixins/backgrounds";
.chat-3bRxxu .content-yTz4x3 {
	background-size: cover !important;
	background-repeat: no-repeat;
	background: inherit;
}
.chat-3bRxxu,
.noChannel-Z1DQK7 {
	@include backgrounds.blurred;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;
}
