form.form-2fGMdU {
	padding: 0px 10px 10px 10px;
}
.chat-3bRxxu form {
	margin: 4px 25px -5px 25px;
}
button.buttonWrapper-1ZmCpA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj[aria-label='Open GIF picker'] {
	display: none;
}
button.buttonWrapper-1ZmCpA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj[aria-label='Send a gift'] {
	display: none;
}
.newMessagesBar-mujexs {
	background: var(--main-color);
	border-radius: 5px;
}
.inner-zqa7da,
.scrollableContainer-2NUZem,
.channelTextArea-rNsIhG {
	background: transparent !important;
	border-radius: 3px;
}
.attachButtonDivider-3Glu60 {
	display: none;
}
.attachPopout-36hjtN {
	background: var(--backdropblurred);
	background-size: cover;
	background-position: center;
}
.attachButton-1UjEWA:hover:before {
	content: 'Attach FIles';
	position: absolute;
	color: #dcddde;
	width: contain;
	bottom: 45px;
	background: var(--main-color);
	padding: 8px 12px;
	border-radius: 5px;
	filter: none !important;
	animation: fadebottom 150ms;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.wrapper-39oAo3 {
	background: transparent !important;
}
.button-2vd_v_ {
	margin-left: 7px;
}
.form-2fGMdU:before {
	display: none;
}
.attachWrapper-2TRKBi {
	border-right: none;
}
