.clickable-3rdHwn .icon-22AiRD {
	color: white !important;
}

.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label='Start Voice Call']:hover {
	animation: shake 150ms linear infinite;
}
@keyframes shake {
	from {
		transform: rotate(-7deg);
	}
	to {
		transform: rotate(7deg);
	}
}
.title-3qD0b- .icon-1R19_H {
	transform: scale(0.9);
}
.aka-1mqp34 {
	background: var(--main-color);
}
.title-3qD0b-,
.da-headerBar {
	background: transparent !important;
	box-shadow: none !important;
}
.content-yTz4x3:before {
	display: none;
}
