.da-h1 {
	color: var(--hover-color) !important;
}
.exclamation-1mi7Vi {
	mask-image: url(https://discordapp.com/assets/7616be62f9b90270b5a2e1fe9d2ece4f.svg);
	-webkit-mask-image: url(https://discordapp.com/assets/7616be62f9b90270b5a2e1fe9d2ece4f.svg);
}
.share-1EA-d2 {
	mask-image: url(https://discordapp.com/assets/07778297eb1e1e3d9bd3cd302920d5fb.svg);
	-webkit-mask-image: url(https://discordapp.com/assets/07778297eb1e1e3d9bd3cd302920d5fb.svg);
}
.mobile-3_KEmF {
	mask-image: url(https://discordapp.com/assets/83d501f2b7dd2987302ce29b321f4494.svg);
	-webkit-mask-image: url(https://discordapp.com/assets/83d501f2b7dd2987302ce29b321f4494.svg);
}
.twitter-1TN3uJ {
	mask-image: url(https://discordapp.com/assets/326d79eb53886c88437e99a3754b1cd0.svg);
	mask-size: 77%;
	-webkit-mask-image: url(https://discordapp.com/assets/326d79eb53886c88437e99a3754b1cd0.svg);
	-webkit-mask-size: 77%;
}
.icon-2shpbb {
	mask-size: 95%;
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-size: 95%;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	background: var(--main-color) !important;
}
