.mentioned-xhSam7:before {
	background-color: rgba(250, 166, 26, 0.25);
}
.localBot-GrCgVt:before,
.mentioned-xhSam7:before {
	width: -webkit-fill-available;
	border-radius: 5px;
	z-index: -1;
}
.wrapper-3WhCwL {
	background: var(--main-color);
	color: #fff !important;
	border-radius: 3px;
}
.da-isMentionedCozy:after {
	border-color: var(--hover-color);
}
.da-isMentionedCozy {
	background: var(--main-color-faded) !important;
}
