.reactions-1xb2Ex .reactionBtn-2na4rd {
	opacity: 0.8 !important;
}
.reaction-1hd86g .emoji {
	width: 1.7rem;
	height: 1.7rem;
	margin: 0.125rem 0;
	min-width: auto;
	min-height: auto;
}
.reactionCount-2mvXRV {
	font-size: 1.075rem;
	font-weight: 500;
	margin-left: 0.375rem;
	text-align: center;
	color: var(--text-muted);
	margin-right: -6px;
	margin-left: 10px;
}
.reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
	opacity: 1;
}
.reaction-1ELvT8 {
	position: relative;
}
.reactionInner-rRPZdY {
	padding: 0px;
}
.reaction-1ELvT8 {
	background: rgba(0, 0, 0, 0.5) !important;
}
.reaction-1ELvT8 .emoji {
	margin: 0 !important;
	background: none;
	opacity: 1 !important;
}
.reaction-1ELvT8.reactionMe-23mbRf {
	background: var(--main-color) !important;
	border-radius: 10px;
	opacity: 1 !important;
}
.reaction-1ELvT8 {
	border-radius: 10px;
	opacity: 0.7 !important;
}
.reactionInner-15NvIl {
	width: max-content;
	height: 32px;
	border-radius: 10px;
	transform: scale(0.7);
}
.reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
	font-weight: bold !important;
	color: var(--hover-color) !important;
}
.reaction-1ELvT8 .reactionCount-2ddRoS {
	position: absolute !important;
	margin-top: 22px !important;
	font-size: 11px;
	letter-spacing: 0;
	margin: 0;
	min-width: 32px !important;
}
