.wrapper-35wsBm,
.invite-18yqGF {
	background: rgba(0, 0, 0, 0.5) !important;
	border: none !important;
	box-shadow: 0px 0px 5px black;
	transition: 150ms linear all;
}
.wrapper-35wsBm:hover,
.invite-18yqGF:hover {
	transform: scale(1.03) !important;
}
.invite-18yqGF .lookFilled-1Gx00P.colorGreen-29iAKY {
	background: var(--main-color) !important;
}
