.wrapperPaused-19pWuK.wrapper-2TxpI8 {
	width: -webkit-fill-available !important; /* Fix width of video controls in embeds */
}
.embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j:hover {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.wrapper-2TxpI8 {
	background-color: rgba(0, 0, 0, 0.25) !important;
}
.embedPill-1Zntps {
	height: calc(100% - 20px) !important;
	position: absolute !important;
	top: 10px !important;
	left: 6px !important;
	border-radius: 50px !important;
	width: 4px !important;
}
.embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j {
	background-color: rgba(0, 0, 0, 0.66) !important;
	border-color: rgba(0, 0, 0, 0.66) !important;
}
.embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j {
	border: 1px solid hsla(0, 0%, 80%, 0.3) !important;
	padding: 8px 10px !important;
	-webkit-transition: 200ms cubic-bezier(0.2, 0.11, 0, 1);
	transition: 200ms cubic-bezier(0.2, 0.11, 0, 1) !important;
	box-shadow: 2px 2px 10px #0c0c0c !important;
	border-radius: 5px;
}
.embedInner-1-fpTo {
	background: transparent !important;
	border: none !important;
}
.imageWrapper-2p5ogY.imageZoom-1n-ADA {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
	transition: 250ms box-shadow cubic-bezier(0, 0, 0, 0.1);
}
.imageWrapper-2p5ogY.imageZoom-1n-ADA:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
