.videoBackground-3AY_fu,
.videoBackgroundTransition-3wpOSl {
	background: transparent !important;
}
.videoHeight-Qp_9vC.minimum-1pRSEN.wrapper-29NfPK.minimum-2d6zH6.animated-UtE465 {
	border-radius: 5px;
	margin: 20px 20px -30px 20px;
}
.title-3qD0b-.container-1r6BKw.transparent-2ZlE3R {
	margin-bottom: -20px;
	padding: 0px 30px;
	margin-top: 20px;
}
.videoHeight-Qp_9vC.minimum-1pRSEN.wrapper-29NfPK.minimum-2d6zH6 {
	border-radius: 5px;
	margin: 20px 20px -30px 20px;
}
.quickSelectPopoutOption-opKBx9:hover {
	background: rgba(255, 255, 255, 0.05) !important;
}
.incomingCallInner-2VmFiR {
	background: rgba(0, 0, 0, 0.5) !important;
}
.quickSelectPopout-X1hvgV {
	background: rgba(0, 0, 0, 0.75) !important;
}
.container-1UB9sr {
	background: rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0px 0px 5px black;
	border: none;
}
.check-2by_h9 {
	background: none;
	-webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMiI+ICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM3Mjg5REEiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTEuOTk2MDkzNzUgNS43ODM1MzM4bDMuNzAyODczODIgMy43MDI4NzM4TDE0LjE4NTM3NTIgMSIvPjwvc3ZnPg==');
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMiI+ICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM3Mjg5REEiIHN0cm9rZS13aWR0aD0iMyIgZD0iTTEuOTk2MDkzNzUgNS43ODM1MzM4bDMuNzAyODczODIgMy43MDI4NzM4TDE0LjE4NTM3NTIgMSIvPjwvc3ZnPg==');
	background: var(--main-color);
}
.audio-3vVhBi:after,
.video-15yGu3:after {
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.video-1FfuMD {
	background: transparent;
}
.wrapper-29NfPK {
	background: rgba(0, 0, 0, 0.5) !important;
}
.wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
	background: rgba(0, 0, 0, 0.5) !important;
	border: none !important;
}
.callAvatarBorder-1D_KaE.video-3GgX2M.selected-2esnyn:not(.speaking-oCqYMI):not(.soundsharing-102bS9) {
	box-shadow: inset 0 0 0 2px var(--hover-color) !important;
}
.path2-1q7bG_,
.path-92Hmty {
	stroke: var(--hover-color) !important;
}
.wrapper-2NJDcI {
	background-color: var(--main-color-faded) !important;
	color: #fff;
}
