// Bot Tags
@mixin baseTag($userId, $text) {
	&[data-user-id*='$userId'],
	&[data-author-id='$userId'],
	&[user_by_bdfdb='$userId'] {
		/*.timestamp-3ZCmNB:not(.latin12CompactTimeStamp-38a8OU)*/
		span.username-1A8OIy::after {
			content: $text;
			background: var(--main-color);
			color: #fff !important;
			border-radius: 4px;
			margin-right: 5px;
			margin-left: 2px;
			font-size: 12px;
			font-weight: 600;
			padding: 1px 4px;
			text-shadow: 0px 1px 5px #000;
		}
	}
}

#app-mount .da-image[style*='219363409097916416'],
.da-containerCozy[data-author-id*='219363409097916416'] {
	border-radius: 0% !important;
}
.da-containerCozy[data-author-id*='219363409097916416'] .reactionBtn-2na4rd {
	border-radius: 0px;
	border: 2px solid rgba(255, 255, 255, 0.9);
	background-size: 170%;
	transform: scale(0.7);
	margin-top: -1px;
	background-position: 50%;
}
.message-2qnXI6 {
	&[data-user-id*='596425713347723269'],
	&[data-author-id='596425713347723269'],
	&[user_by_bdfdb='596425713347723269'] {
		.headerText-3Uvj1Y {
			color: var(--hover-color);
		}
		// .timestamp-3ZCmNB:before {
		// 	content: 'Aurora Dev';
		// }
	}
	@include baseTag('596425713347723269', 'Aurora Dev');
	// Old Tags
	@include baseTag('254362351170617345', 'Old Aurora Dev (pre-2.7.X)');
	@include baseTag('707043684889133117', 'Old Aurora Dev (pre-2.7.3)');
	@include baseTag(
		'213220786805145600',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
	@include baseTag(
		'261354004569653248',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
	@include baseTag(
		'252460828157018112',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
	@include baseTag(
		'348593749372174337',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
	@include baseTag(
		'213220786805145600',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
	@include baseTag(
		'261354004569653248',
		'Old Aurora v2.7.2 Bug Hunter (pre-2.7.3)'
	);
}
