.avatar-1BDn8e[src*='273169968202252289'] + h2 > span.username-1A8OIy::after {
	color: white !important;
	background-color: var(--gradient1);
	content: 'Old Aurora Maintainer';
	font-size: 0.625em;
	font-weight: 500;
	height: 1.28em;
	padding: 0.072rem 0.275rem;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 1.3;
	margin-left: 0.25rem;
	text-decoration: none !important;
	display: inline-block;
}
