.container-9gOVw0,
.container-2fRDfG {
	background: var(--main-color);
	border-radius: 5px;
	width: fit-content;
}
.colorHeaderSecondary-3Sp3Ft {
	color: white !important;
}
.closeButton-3JbGDk {
	margin-left: 10px;
}
