@use "../Mixins/backgrounds";
.threadList-YMr2Sv {
	@include backgrounds.coverBackground;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.5) !important;
	border: none;
}
.header-2Pdc8E,
.scroller-3L1NsA,
.header-bKQ2_s,
input.inputDefault-_djjkz.input-cIJ7To {
	background: transparent;
}
