/*3.a. Messages and Codeblocks*/
@import './3.a. Messages and Codeblocks.scss';

/*3.b. Dividers*/
@import './3.b. Dividers.scss';

/*3.c. Transparency*/
@import './3.c. Transparency.scss';

/*3.d. Chat Input Area*/
@import './3.d. Chat Input Area.scss';

/*3.e. Chat Header*/
@import './3.e. Chat Header.scss';

/*3.f. Spinners*/
@import './3.f. Spinners.scss';

/*3.g. Welcome Message*/
@import './3.g. Welcome Message.scss';

/*3.h. Scrollbar*/
@import './3.h. Scrollbar';

/*3.i. Bot Tags*/
@import './3.i. Bot Tags.scss';

/*3.j. Linked Channels and Mentions*/
@import './3.j. Linked Channels and Mentions.scss';

/*3.k. Reactions*/
@import './3.k. Reactions';

/*3.l. Search Bars*/
@import './3.l. Search Bars.scss';

/*3.m. Invites*/
@import './3.m. Invites.scss';

/*3.n. Embeds*/
@import './3.n. Embeds.scss';

/*3.o. Calls*/
@import './3.o. Calls.scss';

/*3.p. Typing Indicators*/
@import './3.p. Typing Indicators.scss';

/*3.q. Tags (v2 FEATURE, REDACTED)
  .message-1PNnaP[data-user-id*="254362351170617345"] .da-timestampCozy:before {
	  content: "Aurora Dev";
	  background:var(--main-color);
	  color: #fff;
	  border-radius: 4px;
	  margin-right:5px;
	  margin-left:2px;
	  font-size: 12px;
	  font-weight: 600;
	  padding: 1px 4px;
	  text-shadow: 0px 1px 5px #000;
  }
  #app-mount .da-image[style*="219363409097916416"],
  .da-containerCozy[data-author-id*="219363409097916416"]{
	  border-radius:0% !important;
  }
  .da-containerCozy[data-author-id*="219363409097916416"] .reactionBtn-2na4rd {
	  border-radius:0px;
	  border:2px solid rgba(255,255,255,0.9);
	  background-size:170%;
	  transform:scale(.7);
	  margin-top:-1px;
	  background-position:50%
  }
  .message-1PNnaP[data-user-id*="254362351170617345"] .da-username {
	color:var(--hover-color);
  }
  .message-1PNnaP[data-user-id*="213220786805145600"] .da-timestampCozy:before,
  .message-1PNnaP[data-user-id*="261354004569653248"] .da-timestampCozy:before,
  .message-1PNnaP[data-user-id*="252460828157018112"] .da-timestampCozy:before,
  .message-1PNnaP[data-user-id*="348593749372174337"] .da-timestampCozy:before {
	  content: "Aurora Bug Hunter";
	  background:var(--main-color-faded);
	  color: rgba(255,255,255,0.8);
	  border-radius: 4px;
	  margin:8px;
	  font-size: 12px;
	  padding: 1px 4px;
  }
  */
/* 3.r. Load More Messages */
.hasMore-3e72_v {
	background: rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	color: white;
	box-shadow: none;
}
/* 3.s. NSFW Warning OH YEAH */
.gatedContent-3-B7qB {
	background: var(--backdropblurred);
	width: 700px;
	height: 570px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	top: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 10px 0px black;
	transition: transform 150ms !important;
}
.gatedContent-3-B7qB:hover {
	transition: transform 150ms;
	transform: translate(-50%, -50%) scale(1.03) !important;
}
/* 3.t. Tags */
.avatar-1BDn8e[src*='273169968202252289'] + h2 > span.username-1A8OIy::after {
	color: white !important;
	background-color: var(--gradient1);
	content: 'Aurora Maintainer';
	font-size: 0.625em;
	font-weight: 500;
	height: 1.28em;
	padding: 0.072rem 0.275rem;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 1.3;
	margin-left: 0.25rem;
	text-decoration: none !important;
	display: inline-block;
}
/* 3.u. Reply */
.container-9gOVw0 {
	background: var(--main-color);
	border-radius: 5px;
	width: fit-content;
}
.colorHeaderSecondary-3Sp3Ft {
	color: white !important;
}
.closeButton-3JbGDk {
	margin-left: 10px;
}
/* 3.v. Threads */
.threadList-YMr2Sv {
	@include backgrounds.coverBackground;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.5) !important;
	border: none;
}
.header-2Pdc8E,
.scroller-3L1NsA,
.header-bKQ2_s,
input.inputDefault-_djjkz.input-cIJ7To {
	background: transparent;
}
