.leftSplit-1qOwnR .wrapper-6URcxg {
	right: 0px !important;
}
.rightSplit-2US0xy,
.canvas-3XuBXe {
	display: none !important;
}
.da-authBox {
	background: rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(0, 0, 0, 0.5);
}
form.authBoxExpanded-2jqaBe.authBox-hW6HRx.theme-dark {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--backdropblurred);
	border-radius: 10px;
}
.leftSplit-1qOwnR {
	width: -webkit-fill-available !important;
	max-width: -webkit-fill-available;
}
